<html>
<head>
<title>New Tweet, Who Dis?</title>

 <style>

	body {
  	font-family: Helvetica, Arial, Sans-Serif;
	}

	h2 {
	color: #FE066B;
	margin-top: 0px;
	}

	h4 {
	color: #FE066B;
	}

	.button{
    height:25px;
    width:100px;
	}

	a:link {
  	color: #2c75be;
  	text-decoration: none;
	}

	a:visited {
	  color: #2c75be;
	  text-decoration: none;
	}

	a:hover {
	  color: #FE066B;
	  text-decoration: none;
	}

	a:active {
	  color: #2c75be;
	  text-decoration: none;
	}

 </style>
 </head>

 <body>
    <img src="{{url_for('static', filename='header.png')}}" alt="Beautiful header" width="225">
 	<h2>CALBAMADASHIAN!</h2>
 	<p>The premier way to classify your <a href="https://twitter.com/calvinstowell">@calvinstowell</a>, <a href="https://twitter.com/BarackObama">@barackobama</a>, and <a href="https://twitter.com/kimkardashian">@kimkardashian</a> tweets since 2019!</p>

 	<h4>Batch Scoring Coming Soon!</h4>
 	<img src="{{url_for('static', filename='soon.gif')}}" alt="Soon" width="200">

 </body>
</html>