<html>
 <head>
 <title>New Tweet, Who Dis?</title>
 </head>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
<!--       <form action = "http://campkels.pythonanywhere.com/result" method = "POST"> -->
         <p>Tweet <input type = "text" name = "tweet" /></p>
      </form>

      <form action="/handleUpload" method="post" enctype="multipart/form-data">
      		Choose the file: <input type="file" name="csv"/><BR>
            <input type="submit" value="Upload"/>
      </form> 

   </body>
</html>